@font-face {
  font-family: HARRYP;
  src: url("harry_p/HARRYP__.TTF"); }

body {
  max-width: 700px;
  height: 85vh;
  margin: 30px auto 20px;
  padding: 30px 20px;
  color: #F9F9F9;
  background: url(img/wood_bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: rgba(138,90,48,1) 5px solid;
  /* border-image: url('img/star.svg');
  border-image-slice: 30;
  border-image-width: 30px;
  border-image-outset: 1; */
  border-image-repeat: round;
  font-family: 'EB Garamond', Merriweather, serif;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 3px 3px 5px black;
}

h1 {
  margin: 0;
  color: #faca55;
  font-family: HARRYP, serif;
  font-size: 3.5em;
  letter-spacing: 5px;
  text-shadow:  3px 3px 6px black;
}

h2 {
  margin: 0;
  font-family: HARRYP, serif;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-shadow:  1px 1px 3px black;
}

h1 span.tiny {
  font-size: 0.5em;
}

button {
  min-width: 100px;
  margin: 0.25em;
  padding: 0.5em 1em;
  color: white;
  background: linear-gradient(#c1903c 0%, #8b5930 80%);
  border-radius: 4px;
  font-family: 'EB Garamond', Merriweather, serif;
  font-size: 1em;
  text-transform: uppercase;
}

.main,
.main-game,
.score {
  display: none;
}

.header,
.main-game-stuff,
.score-inner {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timer {
  display: flex;
  position: absolute;
  top: -45px;
  left: 50%;
  margin-left: -100px;
  font-size: 1.5em;
}

.timer-min,
.timer-sec2,
.timer-sec1 {
  padding: 15px 15px 18px 30px;
  color: #5f3b1f;
  text-shadow: none;
  background: url('img/paper.svg') no-repeat;
  background-size: cover;
  text-align: center;
}

.which-bin {
  margin-bottom: 5px;
}

.garbage-container {
  width: 25%;
  margin: 1% auto;
  padding: 10%;
  background-image: url(img/shield.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button-container>button {
  flex: 0 45%;
}

.garbage-img {
  width: 100%;
  height: 100%;
  margin-bottom: 20%;
}

.landfill {
  background: black;
}

.recycle {
  background: blue;
}

.compost {
  background: green;
}

.special {
  background: red;
}

.final-score {
  padding-top: 20px;
  font-size: 6em;
}
