@font-face {
  font-family: HARRYP;
  src: url("harry_p/HARRYP__.TTF"); }

body {
  max-width: 700px;
  height: 85vh;
  margin: 30px auto 20px;
  padding: 30px 20px;
  color: #F9F9F9;
  background: url(img/wood_bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: rgba(138,90,48,1) 5px solid;
  /* border-image: url('img/star.svg');
  border-image-slice: 30;
  border-image-width: 30px;
  border-image-outset: 1; */
  border-image-repeat: round;
  font-family: 'EB Garamond', Merriweather, serif;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 3px 3px 5px black;
}

h1 {
  margin: 0;
  color: #faca55;
  font-family: HARRYP, serif;
  font-size: 3.5em;
  letter-spacing: 5px;
  text-shadow:  3px 3px 6px black;
}

h2 {
  margin: 0;
  font-family: HARRYP, serif;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-shadow:  1px 1px 3px black;
}

h1 span.tiny {
  font-size: 0.5em;
}

button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-width: 100px;
  margin: 0.25em;
  padding: 0.75em 1em;
  color: white;
  background: linear-gradient(-180deg, rgb(193, 144, 60) 0%, rgb(139, 89, 48) 100%);
  outline: 1px solid #fff;
  outline-offset: -5px;
  border: none;
  border-radius: 4px;
  font-family: 'EB Garamond', Merriweather, serif;
  font-size: 1em;
  text-transform: uppercase;
}

.main,
.main-game,
.score,
.scoring {
  display: none;
}

.header,
.main-game-stuff,
.score-inner,
.scoring-inner {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timer {
  display: flex;
  position: absolute;
  top: -45px;
  left: 50%;
  margin-left: -100px;
  font-size: 1.5em;
}

.timer-min,
.timer-sec2,
.timer-sec1 {
  padding: 15px 15px 18px 30px;
  color: #5f3b1f;
  text-shadow: none;
  background: url('img/paper.svg') no-repeat;
  background-size: cover;
  text-align: center;
}

.which-bin {
  margin-bottom: 5px;
}

.garbage-container {
  width: 25%;
  margin: 1% auto;
  padding: 10%;
  background-image: url(img/shield.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button-container>button {
  flex: 0 45%;
}

.garbage-img {
  width: 100%;
  height: 100%;
}

.landfill {
  background: linear-gradient(-180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.25) 100%)
  rgb(32, 31, 31);
}

.recycle {
  background: linear-gradient(-180deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%)
  rgb(58, 80, 165);
}

.compost {
  background: linear-gradient(-180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.25) 100%)
  rgb(32, 114, 56);
}

.special {
  background: linear-gradient(-180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.25) 100%)
  rgb(240, 32, 35);
}

.final-score {
  padding-top: 20px;
  font-size: 6em;
}

.errors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.errors>div {
  flex: 1 0 20%;
  margin: 10px;
}

.err-name {
  font-size: 1.2em;
}

.errors>div>img {
  width: 50px;
  height: 50px;
}

.err-bin {
  margin: 0 auto 25px;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.end-btns {
  display: flex;
}

.info-btn {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.start-over-btn {
  flex-grow: 15;
}

.info-btn-text {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: white solid 3px;
  font-weight: 900;
  text-transform: lowercase;
}
